{
    "plugins": [
        "transform-es2015-template-literals"
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "debug": false,
                "modules": false,
                "targets": {
                    "browsers": ["> 1%", "last 2 versions", "ie >= 10"]
                }
            }
        ]
    ],
    "ignore": [
        "node_modules"
    ]
}
